astroid==2.4.2
autopep8==1.5.3
certifi==2020.4.5.2
chardet==3.0.4
colorama==0.4.3
cycler==0.10.0
idna==2.9
isort==4.3.21
kiwisolver==1.2.0
lazy-object-proxy==1.4.3
lxml==4.5.1
matplotlib==3.2.2
mccabe==0.6.1
mplfinance==0.12.5a3
numpy==1.18.5
pandas==1.0.5
pandas-datareader==0.8.1
pycodestyle==2.6.0
pylint==2.5.3
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
requests==2.24.0
six==1.15.0
tabulate==0.8.7 
toml==0.10.1
typed-ast==1.4.1
urllib3==1.25.9
wrapt==1.12.1
